<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/77a12c8c-707c-4dd1-ac9e-e1040a9fd1bd/resourceGroups/HuntTheWumpus/providers/Microsoft.ContainerRegistry/registries/HuntTheWumpus20201008173009</ResourceId>
    <ResourceName>HuntTheWumpus20201008173009</ResourceName>
    <ResourceGroup>HuntTheWumpus</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://huntthewumpus20201008173009.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>